#Clock
NET "clk" LOC = "B8";

#Drive Pins
NET "hbEnA"  LOC = "B2";
NET "hbIn1" LOC = "A3";
NET "hbIn2" LOC = "J3";
NET "shaftPulseL" LOC = "B5";
NET "hbEnB" LOC = "C6";
NET "hbIn3" LOC = "B6";
NET "hbIn4" LOC = "C5";
NET "shaftPulseR" LOC = "B7";

#Direction Control Pins
NET "RFS" LOC = "A9" | pullup;
NET "LFS" LOC = "B9" | pullup;
NET "RMS" LOC = "A10" | pullup;
NET "LMS" LOC = "C9" | pullup;
NET "RRS" LOC = "C12" | pullup;
NET "LRS" LOC = "A13" | pullup;
NET "Switch" LOC = "P11";

#Tone Detection Pins
NET "bp1" LOC = "F13";
NET "bp2" LOC = "G14";
NET "bp3" LOC = "J13";
NET "bp4" LOC = "J14";
NET "bp5" LOC = "K13";

#Seven Seg
NET "sevenSeg0" LOC = "F12";
NET "sevenSeg1" LOC = "J12";
NET "sevenSeg2" LOC = "M13";
NET "sevenSeg3" LOC = "K14";