NET "LFS" LOC = "J3" | pullup;
NET "RFS" LOC = "B5" | pullup;
NET "RRS" LOC = "A3" | pullup;
NET "LRS" LOC = "B2" | pullup;
Net "clk" Loc=B8;
Net "led0" Loc=M5;
net "led1" Loc=M11;
net "led2" Loc=P7;
net "led3" Loc=P6;
net "led4" Loc=N5;
Net "led5" Loc=N4;
Net "led6" Loc=P4;
Net "led7" Loc=G1;
