NET "LFS" LOC = "J3" | pullup;
NET "RFS" LOC = "B5" | pullup;
NET "RRS" LOC = "A3" | pullup;
NET "LRS" LOC = "B2" | pullup;
Net "SW0" Loc=P11;
Net "led0" Loc=M5;
net "led1" Loc=M11;
net "led2" Loc=P7;
net "led3" Loc=P6;
net "led4" Loc=N5;
Net "led5" Loc=N4;
Net "led6" Loc=P4;
Net "led7" Loc=G1;
Net "seg_a" Loc=L14;
Net "seg_b" Loc=H12;
Net "seg_c" Loc=N14;
Net "seg_d" Loc=N11;
Net "seg_e" Loc=P12;
Net "seg_f" Loc=L13;
Net "seg_g" Loc=M12;
Net "seg_dp" Loc=N13;